

<div class="home"  style="z-index: 2;">
  <p>
  Perspectives on Gender and Architecture
  <br>
  Lecture and conversation series</p>

  <div class="home-content">
  <div class="content">
  <p><%= link_to 'close x', '#', class:'close-link' %></p>
  <p>[dt]
  <br>Die F_TALKS sind eine Vortrags- und Diskussionsreihe zu Gender und Architektur initiiert vom fem_arc collective. Wir haben fünf inspirierende Frauen eingeladen mit uns die Möglichkeiten zeitgenössischer und zukünftiger räumlicher Praktiken zu diskutieren, die sich Genderfragen und feministische Theorie nutzbar machen.
<br>Die Architektur ist immer noch ein männlich dominiertes Feld und ungleiche Geschlechterverhältnisse sind die Norm. In diesem Kontext möchte die F_TALKS Vortrags- und Diskussionsreihe Raum für Allianzen schaffen und einen anhaltenden Dialog über die Zukunft feministischer Praktiken provozieren.
<br>
<br>Sessions beginnen um 19 Uhr in Raum 157 an der Universität der Künste Berlin.
<br>Offen für alle und jeder ist willkommen. Es wird Bier und Snacks geben.


<br>[eng]
<br>F_TALKS is a lecture and conversation series about gender and architecture initiated by the fem_arc collective. We have invited five inspiring women–from the field of architecture and related disciplines–to discuss the possibilities of contemporary and future spatial practices that employ gender discourse and feminist theory.
<br>Despite the long history of emancipation, architecture is still male-dominated and gender inequality is the norm. The F_TALKS lecture and conversation series provides space to form alliances and aims at provoking an ongoing dialogue about the future of feminist practice.
<br>
<br>Sessions start at 7pm in room 157 at the University of Fine Arts Berlin.
<br>Everybody is welcome. There will be beer and snacks.
</p>


<p>immer 19:00 Uhr
<br>Raum 157
<br>Hardenbergstr. 33
<br>10623 Berlin
</p>
</div>
</div>

<div class="kerstin">
<div class="content">
  <p><%= link_to 'close x', '#', class:'close-link' %></p>
  <p>session #1
  <br>Donnerstag, 24. Mai
  <br>Kerstin Honeit
  <br>[deutsch]
</p>

  <p>In ihrer künstlerischen Forschung untersucht Kerstin Honeit in Form von Videoarbeiten, Performances und Installationen die Produktion hegemonialer Bilderwelten in den Medien der Informationsgesellschaft und in der Popkultur.
  <br>In ihren jüngsten Arbeiten bildet vor allem die Auseinandersetzung mit Architekturen den Ausgangspunkt zur Befragung von Konstruktionen gesellschaftlicher Normen.
  <br>
    <%= link_to "kerstinhoneit.com", "http://kerstinhoneit.com/", target: "_blank" %>
  </p>
</div>
</div>

<div class="rosana">
<div class="content">
  <p><%= link_to 'close x', '#', class:'close-link' %></p>
  <p>session #2
    <br>Monday, May 28
    <br>Rosana Elkhatib
    <br>f-architecture collab
    <br>[english]

  </p>
  <p>
    Rosana Elkhatib is a Palestinian-Jordanian architect-trained curator based in New York City. Her research focuses on the mutual constitution of bodies and spaces as they are further complicated by their political, social, and religious environs, specifically in the urbanizing Middle East. She collaborates with artists across the middle East to work toward more complex and representative images of contemporary life in the region. Alongside Gabrielle Printz and Virginia Black, she co-founded feminist architecture collaborative, a three-woman architectural research enterprise aimed at disentangling the contemporary spatial politics and technological appearances of bodies, intimately and globally. Their projects traverse theoretical and activist registers to locate new forms of architectural work through critical relationships with collaborators in the Amazon of Ecuador, on the US-MX border, and in Jordan and Lebanon.
    <br>  <%= link_to "f-architecture.com", "http://f-architecture.com/", target: "_blank" %>

  </p>
</div>
</div>

<div class="helene">
<div class="content">
  <p><%= link_to 'close x', '#', class:'close-link' %></p>
  <p>session #3
  <br>Thursday, June 14
  <br>Hélène Frichot
  <br>[english]

  </p>
  <p>
    Dr. phil. Hélène Frichot is an Associate Professor and Docent in the School of Architecture and the Built Environment, KTH, Stockholm. She leads the 'Critical Studies in Architecture' research and pedagogy division. Her research examines the transdisciplinary field between architecture and philosophy. Hélène draws predominantly on the philosophical work of Gilles Deleuze and Félix Guattari, alongside other poststructuralist as well as feminist thinkers. Her published research has ranged widely from commentary on the ethico-aesthetics of contemporary digital architecture operating within the new biotechnological paradigm, to the role of emerging participatory and relational practices in the arts, including critical and creative spatial practices. She considers architecture-writing to be her mode of practice.
    <br>  <%= link_to "kth.se/profile/frichot", "https://www.kth.se/profile/frichot", target: "_blank" %>
  </p>
</div>
</div>

<div class="liza">
<div class="content">
  <p><%= link_to 'close x', '#', class:'close-link' %></p>
  <p>session #4
  <br>Monday, June 18
  <br>Liza Fior
  <br>muf architecture/art
  </p>
  <p>Since 1994 muf architecture/art has established a reputation for pioneering and innovative projects that address the social, spatial and economic infrastructures of the public realm. muf are specialists in public realm architecture and art. The practice philosophy is driven by an ambition to realize the potential pleasures that exist at the intersection between the lived and the built. The creative process is underpinned by a capacity to establish effective client relationships that reveal and value the desires and experience of varied constituencies.
<br>"Access is not a concession but the gorgeous norm; we create spaces that have an equivalence of experience for all who navigate them both physically and conceptually, muf deliver quality and strategical durable projects that inspire a sense of ownership through occupation." - Liza Fior
<br>  <%= link_to "muf.co.uk", "http://muf.co.uk/", target: "_blank" %></p>


</div>
</div>

<div class="helga">
<div class="content">
<p><%= link_to 'close x', '#', class:'close-link' %></p>
<p>session #5
<br>Montag, 25. Juni
<br>Helga Blocksdorf
<br>[deutsch]
  </p>
  <p>
    Helga Blocksdorf arbeitet seit drei Jahren als freischaffende Architektin. Ihre ersten Projekte hat sie 2012 zusammen mit Catharina Förster als Gruppe 'après-nous' realisiert. Helga Blocksdorf hat an der Bauhaus-Universität Weimar und an der UdK Berlin Architektur studiert und war als Bauleitung, Projektarchitektin und im Wettbewerbsteam für Staab Architekten in Berlin tätig. Von 2007–12 war sie wissenschaftliche Mitarbeiterin am Fachgebiet Entwerfen und Baukonstruktion von Professorin Ute Frank an der TU Berlin und hat dort das Doktoranden-Kolloquium 'EKLAT – Entwerfen und Konstruieren in Lehre, Anwendung und Theorie' mit aufgebaut.
  <br>  <%= link_to "helgablocksdorf.de", "http://helgablocksdorf.de/", target: "_blank" %>
  </p>
</div>
</div>

</div>

  <div class="kerstin-image" style="z-index: 0; position: fixed;">
    <%= image_tag 'http://res.cloudinary.com/dtmfljpan/image/upload/v1526331316/Kerstin_Honeit_gktmlp.png', style:"position:fixed; max-height: 150px; top: 5%; left: 65%;
  " %>

  </div>
  <div class="liza-image" style="z-index: 0; position: fixed;">
    <%= image_tag 'http://res.cloudinary.com/dtmfljpan/image/upload/v1526396346/liza_fior_-_muf_65a_d1vbut.jpg', style:"position:fixed; max-height: 150px; top:30%; left: 80%;
  " %>
  </div>
  <div class="kerstin-image" style="z-index: 0; position: fixed;">
    <%= image_tag 'http://res.cloudinary.com/dtmfljpan/image/upload/v1526396662/helene_Frichot_FeministDesign-PowerTool-1_ciq0o3.jpg', style:"position:fixed; max-height: 180px; top: 52%; left: 60%;
  " %>

  </div>
  <div class="kerstin-image" style="z-index: 0; position: fixed;">
    <%= image_tag 'http://res.cloudinary.com/dtmfljpan/image/upload/v1526396899/rosana_e_-_venus-de-clinico_oepcbc.jpg', style:"position:fixed; max-height: 150px; top: 55%; left: 17%;
  " %>
  <div class="kerstin-image" style="z-index: 0; position: fixed;">
    <%= image_tag 'http://res.cloudinary.com/dtmfljpan/image/upload/v1526396949/Helga_blocksdorf_A_FriedemannGrieshaber_nsxqy2.jpg', style:"position:fixed; max-height: 150px; top: 10%; left: 25%;
  " %>



  <div class="background-image" style="z-index: 1; position: absolute; ">
      <%= image_tag "http://res.cloudinary.com/dtmfljpan/image/upload/v1525793843/ftalklogo_gaiut8.png", style:"position:fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%;" %>
  </div>
